body, html {
    height: 100vh;
}

body {
	margin: 0;
}

@keyframes background {

}

.title-box {
	background-image: url('macca_carry.jpg');
}

.header {
	width: 100vw;
	position: absolute;
	top: 50vh;
	left: 50vh;
	text-align: center;
	-webkit-transform: translate(-50vh,-50vh);
    -moz-transform: translate(-50vh,-50vh);
    -ms-transform: translate(-50vh,-50vh);
    -o-transform: translate(-50vh,-50vh);
    transform: translate(-50vh,-50vh);
}

.header h1 {
	color: rgba(255,255,255,0.9);
	font-family: "Brush Script MT", cursive;
    font-size: 17em;
}

.parallax {
    /* The image used */
    
    /* Full height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-container {
	background-color: rgba(0,0,0,0.95);
	height: 100vh;
	z-index: 2;
}

.content {
	padding-left: 25vh;
	width: 50vw;
	text-align: center;
}

.content h1 {
	margin-top: 0;
	padding-top: 2em;
	font-family: 'Roboto', sans-serif;
	color: rgba(200,200,200,0.87);
}

.submission-form {
	padding-top: 25vh;
}

input, textarea {
  width: 100vw;
  margin: 5px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input:focus, textarea:focus{
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

textarea {
	font-family: 'Roboto', sans-serif;
}
